#win-list {
  color: #BEB7AB;
}

.win-title {
  font: bold;
  font-family: "1785 GLC Baskerville", "Book Antiqua", serif;
  font-size: 4em;
}

.tab-list {
  margin-left: 200px;
}

.tab-entry {
  font-family: "DejaVu Sans Mono","Proxima Nova","Helvetica",monospace;
  font-size: 1em;
}

a {
  color: #BEB7AB;
}

a:hover {
 color: #7C997A;
}

body {
  background-color: #282827;
}

input {
  -webkit-appearnce: none;
  appearance: none;
}

input[type="checkbox"] {
  position: relative;
  width: 1em;
  height: 1em;
  border: 1px solid #BEB7AB;
  vertical-align: -4px;
  color: #BEB7AB;
}

input[type="checkbox"]::before {
  content: "✔";
  position: absolute;
  font-size: 1.2em;
  right: -1px;
  top: -0.4em;
  visibility: hidden;
}

input[type="checkbox"]:checked::before {
  visibility: visible;
}