:root {
  --main: #BEB7AB;
  --bg: #282827;
  --link: #7C997A;

}

/* * {
  font-family: "DejaVu Sans Mono","Proxima Nova","Helvetica",monospace;
  font-size: 1em;
} */

::-moz-selection {
  color: var(--bg);
  background: var(--main);
}

#win-list {
  color: var(--main);
}

.box {
  width: 100%;
}

.win-title {
  font: bold;
  font-family: "1785 GLC Baskerville", "Book Antiqua", serif;
  font-size: 4em;
}

.tab-list {
  margin-left: 200px;
}

.tab-entry {
  font-family: "DejaVu Sans Mono","Proxima Nova","Helvetica",monospace;
  font-size: 1em;
}

.search-container {
  display: block flex;
  width: 100%;
  justify-content: center;
  position: fixed;
}

a {
  color: var(--main);
}

a:hover {
 color: var(--link);
}

body {
  background-color: var(--bg); 
  /* overflow: visible; */
}

input {
  -webkit-appearance: none;
  appearance: none;
}

input[type="checkbox"] {
  position: relative;
  width: 1em;
  height: 1em;
  border: 1px solid var(--main);
  vertical-align: -4px;
  color: var(--main);
}

input[type="checkbox"]::before {
  content: "✔";
  position: absolute;
  font-size: 1.2em;
  right: -1px;
  top: -0.4em;
  visibility: hidden;
}

input[type="checkbox"]:checked::before {
  visibility: visible;
}

input[type="search"] {
  font-family: "DejaVu Sans Mono","Proxima Nova","Helvetica",monospace;
  font-size: 1em;
  text-align: center;
  /* align-items: center; */
  /* margin: 0 auto; */
  /* position: fixed; */
  background-color: var(--bg);
  border-style: solid;
  border-color: var(--main);
  color: var(--main);
}

input[type="search"]:focus {
  outline-style: none;
  font-size: 4em;
}